*
!README.md
!init.el
!config.org
!local.el.template
!requirements.txt

!lisp/
!lisp/*.el

!docs/
!docs/*.org

!icons/
!icons/*.svg
!icons/material-symbols.codepoints

!scripts/
!scripts/*.py
!scripts/*.sh
!scripts/*.el

!screenshots/
!screenshots/**

!tests/
!tests/*.py
!tests/*.el

!samples/
!samples/**

!.github/
!.github/**
